
.admin {
    background-color: whitesmoke;
    min-height: 85vh;
}

.admin h5 {
    padding-top: 10px;
}

.admin main {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.admin #products {
    
    background-color:rgb(216, 230, 233);
    padding: 5px 10px;
    border: 1px solid rgb(237, 214, 214);
    margin-right: 40px;
    border-radius: 4px;
    width: 243px;
}

.admin #coupons {
  
    background-color:rgb(216, 230, 233);
    padding: 5px 10px;
    border: 1px solid rgb(236, 212, 212);
    margin-right: 40px;
    border-radius: 4px;
    width: 300px;
}

.admin form {
    text-align: left;

}